html, body
{
    margin: 0;
    padding: 0;
    background-color: #151515;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}
body::-webkit-scrollbar
{
    width: 10px;
}

body::-webkit-scrollbar-track
{
    background: #151515;
}

body::-webkit-scrollbar-thumb
{
    background-color: #303030;
}

a
{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

h1
{
    font-weight: 300;
}

#first-bg
{
    background-image: url("./resources/images/first-bg-image.jpg");
}
#second-bg
{
    background-image: url("./resources/images/second-bg-image.jpg");
}

.wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gray-banner
{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #202020;
}
.short-line
{
    width: 90%;
    margin-left: 5%;
    height: 1px;
    background-color: #AAAFB2;
}
.line
{
    width: 100%;
    height: 1px;
    background-color: #AAAFB2;
}
.block-title
{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.block-title h1
{
    padding: 0;
    margin: 0 0 8px;
    font-size: 24px;
}
.frame
{
    width: 90%;
    max-width: 1350px;
}
.mt50px
{
    margin-top: 50px;
}
.header
{
    width: 100%;
    height: 50px;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: #ffffff;
    z-index: 2;
    flex-wrap: wrap;
    position: relative;
}
.header-block
{
    z-index: 2;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
}
.header-block a
{
    position: relative;
}
.header-block a:before
{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ad0000;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: 0.2s;
    transform-origin: right;
}
.header-block_active:after
{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ad0000;
    position: absolute;
    left: 0;
    bottom: -5px;
}
.header-block a:hover:before
{
    transform: scaleX(1);
    transition: 0.2s;
    transform-origin: left;
}
.head-banner
{
    width: 100%;
    height: 75vh;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 25%;
    position: relative;
    display: flex;
    justify-content: center;
}
.head-banner:before
{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000050;
}
.header-contacts
{
    position: relative;
    width: 90%;
    height: calc(75vh - 50px);
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.svg32icons
{
    width: 32px;
    height: 32px;
}
.svg12icons
{
    width: 12px;
    height: 12px;
}
.svg12icons div
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.glow_on_hover
{
    cursor: pointer;
    opacity: 0.75;
    transition: 0.2s;
}
.glow_on_hover:hover
{
    transition: 0.2s;
    opacity: 1;
}
.header-contacts-block
{
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.header-contacts-button
{
    width: 300px;
    height: 60px;
    display: flex;
    background-color: #AD0000;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 200;
    font-size: 20px;
}
.header-contacts-title
{
    font-weight: 400;
    margin: 0;
}
.header-contacts-links
{
    display: flex;
    width: 100%;
}
.header-contacts-links a
{
    margin: 0 10px;
}
.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.news
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 20px;
}
.news-images
{
    margin-top: 50px;
    flex: 8;
    min-width: 400px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.image-new
{
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex: 1 1 auto;
    margin: 0 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image-new-gradient
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.70) 50%, rgba(0,0,0,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-new-gradient:after
{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000000;
    transition: 0.2s;
}
.image-new-gradient:hover:after
{
    background-color: #00000025;
    transition: 0.2s;
}
.image-new-content
{
    position: relative;
    width: 90%;
    height: 90%;
    overflow: hidden;
    z-index: 2;
}
.image-new-content h1
{
    margin: 7px 0;
}
.image-new-content_box
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(20%);
    transition: 0.2s;
}
.image-new-content:hover .image-new-content_box
{
    transform: translateY(0px);
    transition: 0.2s;
}
.image-new-content_description
{
    font-size: 14px;
    font-weight: 250;
    height: auto;
    width: 100%;
    text-align: justify;
}
.news-list
{
    flex: 3;
    min-width: 300px;
    max-width: 500px;
    max-height: 650px;
    margin: 50px 0 0 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.news-list_header
{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 40px;
    width: calc(100% - 12px);
    border-bottom: 1px solid #AAAFB2;
}
.news-list_header h1
{
    margin: 0;
    padding: 0;
    font-size: 28px;
}
.news-list-content
{
    position: relative;
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    overflow-y: scroll;
}
.news-list-content::-webkit-scrollbar
{
    width: 8px;
}

.news-list-content::-webkit-scrollbar-track
{
    background: #151515;
}

.news-list-content::-webkit-scrollbar-thumb
{
    background-color: #303030;
}
.news-list-content_block
{
    width: calc(100% - 4px);
    height: auto;
    max-height: 250px;
    min-height: 100px;
    border-bottom: 1px solid #AAAFB2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
.news-list-content_block_title
{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #AD0000;
    font-size: 16px;
    font-weight: 400;
}
.news-list-content_block_content
{
    width: 100%;
    height: auto;
    text-align: justify;
    font-size: 12px;
    font-weight: 300;
    opacity: 0.9;
    transition: 0.2s;
}
.news-list-content_block:hover .news-list-content_block_content
{
    opacity: 1;
    transition: 0.2s;
}
.news-list-content_block_date
{
    width: 100%;
    height: 14px;
    font-size: 10px;
    color: #AAAFB2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.works-block
{
    height: 400px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.works-scrollbar
{
    width: calc(100% - 100px);
    height: 100%;
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    align-items: center;
}
.works-scrollbar::-webkit-scrollbar
{
    width: 0;
    display: none;
}

.works-scrollbar::-webkit-scrollbar-track
{
    background: transparent;
    display: none;
}

.works-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    display: none;
}
.works-block-arrow_place
{
    position: relative;
    width: 50px;
    height: inherit;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.works-block-arrow_place:hover
{
    background-color: #252525;
    transition: 0.2s;
}
.arrow
{
    position: relative;
}
.arrow:before
{
    content: "";
    display: block;
    width: 2px;
    height: 20px;
    background-color: #AAAFB2;
    transform: rotateZ(-45deg);
    position: absolute;
    top: -7px;
}
.arrow:after
{
    content: "";
    display: block;
    width: 2px;
    height: 20px;
    background-color: #AAAFB2;
    transform: rotateZ(45deg);
    position: absolute;
    top: 7px;
}
.works-scrollbar-block
{
    min-width: 260px;
    height: 100%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.works-scrollbar-block_image
{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.works-scrollbar-block_image img
{
    width: 100%;
    max-height: 200px;
}
.works-scrollbar-block_title
{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}
.works-scrollbar-block_title h1
{
    font-size: 24px;
    margin: 0;
    padding: 0;
}
.works-scrollbar-block_content
{
    width: 100%;
    height: 95px;
    overflow: hidden;
    position: relative;
}
.works-scrollbar-block_content:after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(180deg, transparent, #202020 70%);
}
.works-scrollbar-block_content p
{
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-align: justify;
}
.works-scrollbar-block_button
{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.works-scrollbar-block_button a
{
    width: 120px;
    height: 35px;
    background-color: #AD0000;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.footer-email
{
    font-size: 16px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.footer-email p
{
    margin-right: 5%;
}
.footer-links
{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 25px;
    font-size: 14px;
}
.footer-links_place
{
    min-width: 350px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.not-found-block
{
    margin-top: 120px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.not-found-block_left
{
    min-width: 300px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    line-height: 35px;
}
.not-found-block_right
{
    min-width: 150px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.works-list-place
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.works-list-block
{
    position: relative;
    max-width: 350px;
    min-width: 300px;
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}
.work-types-panel
{
    position: relative;
    display: flex;
}
.work-types-block
{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    transition: 0.2s;
}
.work-types-block:hover
{
    background-color: #232323;
    transition: 0.2s;
}
.work-types-cursor
{
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: -10px;
    background-color: #151515;
    transform: rotateZ(45deg);
}
.news-tape-block
{
    position: relative;
    width: 100%;
    margin-top: 20px;
    background-color: #202020;
    display: flex;
    flex-wrap: wrap;
}
.news-tape-block_image
{
    min-width: 300px;
    max-width: 300px;
    height: 250px;
    background-size: 100%;
    background-position: center;
    position: relative;
    transition: 1s;
}
.news-tape-block_image:before
{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.70) 50%, rgba(0,0,0,1) 100%);
    position: absolute;
    left: 0;
    top: 0;
}
.news-tape-block:hover .news-tape-block_image
{
    transition: 1s;
    background-size: 110%;
}
.news-tape-block_content-place
{
    position: relative;
    width: calc(100% - 300px);
    min-width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
}
.news-tape-block_content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.news-tape-block_content-date
{
    width: 100%;
    height: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.news-tape-block_content-date p
{
    padding: 0;
    color: #AAAFB2;
    font-size: 11px;
    margin: 0 0 0 8px;
}
.news-tape-block_content-description
{
    width: 100%;
    height: 145px;
    margin-top: 5px;
    overflow: hidden;
    font-size: 13px;
    text-align: justify;
    color: #CFCFCF;
    line-height: 18px;
}