.renderer h1,
.renderer h2,
.renderer h3,
.renderer h4,
.renderer h5,
.renderer h6
{
    font-weight: 500;
    margin: 15px 0;
}

.renderer p
{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
}
.renderer i
{
    font-style: italic;
    font-weight: 400;
}
.renderer li
{
    line-height: 22px;
}
.renderer li::marker
{
    font-weight: 500;
}
.cdx-marker
{
    background-color: transparent;
    text-decoration: underline;
    font-weight: 300;
    color: white;
}
.inline-code
{
    font-family: monospace;
    background-color: #282a2c;
    color: #c4c7c5;
    font-size: .875rem;
    border-radius: 7px;
    font-weight: 400;
    line-height: 1.25rem;
}
.editor-table
{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin: 40px 0;
}
.editor-table_row
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    position: relative;
}
.editor-table_row:after
{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #AAAFB2;
    bottom: 0;
    left: 0;
}
.editor-table_row:last-child:after
{
    display: none;
}
.editor-table_cell
{
    min-height: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.editor-table_cell:after
{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #AAAFB2;
    top: 0;
    right: 0;
}
.editor-table_cell:last-child:after
{
    display: none;
}
.renderer-warning
{
    width: calc(100% - 20px);
    display: flex;
    background: linear-gradient(90deg, #303030, transparent);
    padding: 15px 10px;
    margin: 20px 0;
    position: relative;
}
.renderer-warning_logo
{
    min-width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.renderer-warning_title
{
    font-size: 14px;
    display: flex;
    min-width: 100px;
    align-items: center;
    justify-content: center;
    color: #AAAFB2;
    padding: 0 10px;
}
.renderer-warning_message
{
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.renderer-code
{
    width: calc(100% - 40px);
    background-color: transparent;
    padding: 30px 20px;
    white-space: pre-wrap;
    font-size: 16px;
    line-height: 22px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}
.renderer-link
{
    display: flex;
    width: calc(100% - 40px);
    background-color: #202020;
    padding: 10px 20px;
    position: relative;
    margin: 20px 0;
    max-width: 100%;
}
.renderer-link_title
{
    font-size: 16px;
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.renderer-link_description
{
    font-size: 14px;
    color: #AAAFB2;
    margin: 10px 0;
}
.renderer-link_domain
{
    font-size: 14px;
    color: #303030;
}
.renderer-link_image
{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.renderer-image_caption
{
    width: calc(100% - 30px);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AAAFB2;
    font-size: 14px;
}
.quote-renderer
{
    position: relative;
    width: calc(100% - 80px);
    background-color: #202020;
    padding: 30px 40px;
}
.quote-renderer_quote
{
    position: absolute;
    top: 5px;
    left: 5px;
}
.quote-renderer_text
{
    white-space: pre-wrap;
    width: 100%;
    font-style: italic;
}
.quote-renderer_caption
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #AAAFB2;
    font-style: italic;
}
.checklist-renderer_point
{
    display: flex;
    align-items: center;
    margin: 10px 0;
    column-gap: 10px;
}
.checklist-renderer
{
    margin: 30px 0;
}
.renderer-delimiter
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    letter-spacing: 13px;
    user-select: none
}
.audio-renderer
{
    margin: 30px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(-90deg, #303030, transparent);
    box-sizing: border-box;
    padding: 15px;
}
.audio-renderer_audio-place
{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}
.audio-renderer_button
{
    width: 64px;
    height: 64px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
}
.audio-renderer_audio_caption
{
    color: #AAAFB2;
    font-size: 12px;
    text-align: right;
    margin-top: 5px;
}
.music-player_position
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.music-player
{
    background-color: #202020;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    transition: 0.2s;
}
.music-player-cell
{
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.music-player_thumb
{
    width: calc(100% - 180px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.music-player_thumb_place
{
    cursor: pointer;
    width: 100%;
    height: 16px;
    background: #303030;
    position: relative;
}
.music-player_thumb_range
{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #AD0000;
}
.music-player_volume
{
    width: 30px;
    height: 90px;
    position: absolute;
    top: -90px;
    left: 10px;
    background-color: #252525;
    transform: translateY(5px);
    display: none;
    justify-content: center;
    align-items: center;
}
#volume-lvl:hover .music-player_volume
{
    transform: translateY(0);
    display: flex;
}
.music-player_volume_thumb
{
    width: 10px;
    height: 70px;
    position: relative;
    background-color: #303030;
}
.music-player_volume_thumb_cursor
{
    position: absolute;
    width: 10px;
    bottom: 0;
    left: 0;
    background-color: #AD0000;
}
.music-player_hide
{
    position: absolute;
    width: 40px;
    height: 20px;
    right: 0;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0 0;
    background-color: #202020;
    cursor: pointer;
}